#main{
  position:absolute;
  min-height: 18vh;
  background-color:#f4e3c5;
}
.logo {
  vertical-align: middle;
  height: 150px;
  width: 120px;
  margin-left: 115px;
  position: absolute;
}
.nav--secondary .menu {
  margin-top: 0;
  margin-left: 1048px;
}
.nav--secondary .menu__item{
  display: inline-block;
  margin-right: 13px;
}
.input-group-btn:last-child>.btn{
  z-index: 2;

}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
  background-color: #451500;

}
button{
  color: #fff;
  background-color: #ab2318;;
  border-color: #cc9d87;
}
.section--header {
  position: fixed;
  overflow: visible;
  width: 100%;
  z-index: 1004;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.25);
}
.nav--main .menu {
  padding-top: 68px;
  margin-right: 225px;

}

#btn{
  padding-left:10px;
}
#btn1{
  margin-left:1280px;
}
.section--header .header--content {
  position: relative;
}
.slides{
  text-align:center;
}
.input-group-btn {
  position: absolute;
  font-size: 0;
  white-space: nowrap;
  padding-top:57px;
}
header {
  background-color: #cc9d87;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23984f2e' fill-opacity='0.09' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.navbar-right{
  margin-right:440px;
}
.s1{
  position:relative;
  margin-top:106px;
  z-index:1;
  width:100%;

}
.image{
  max-width:40%;
  height:50%;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  display: inline;
  text-align: -webkit-match-parent;
}
.nav--secondary a {
  font-size: 14px;
  color: #461501;
}
.nav--main .menu__item a {
  display: inline-block;
  margin-right: 14px;
  position: relative;
  padding-bottom: 11px;
  font-family: Arimo;
  font-size: 15px;
  color: #872b01;
  font-variant: normal;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: -.48px;
}