<div>
    <header class="section section--header">
        <div class="header">
            <div class="header--content">
                <a href="/" class="logo">
                    <img [src]="image" class="logo" alt="Chipotle"/>
                </a>
                <nav class="nav--secondary  navbar-fixed-top navbar-right">
                    <ul class="menu">
                        <li class="menu__item"></li>
                        <li class="menu__item"></li>
                        <li class="menu__item"></li>
                        <li class="menu__item">
                            <a href="#">careers</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">gift cards</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">
                                <span style="color:#ad2118">
                                    <strong>data security incident</strong></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <div>
                    <span class="input-group-btn">
                        <ul class="menu">
                            <li class="menu__item"><button type="button" class="btn" id="btn1"><span class="glyphicon glyphicon-search" id="search"></span></button></li>
                            <li class="menu__item" id="btn"><button type="button" class="btn"><strong id="location">LOCATIONS</strong></button></li>
                            <li class="menu__item" id="btn"><button type="button" class="btn"><strong id="order">ORDER NO</strong></button></li>

                        </ul>
                    </span>
                </div>
                <div>
                    <nav class="nav--main  navbar-right">
                        <ul class="menu">
                            <li class="menu__item"><a href="#">MENU</a></li>
                            <li class="menu__item"><a href="#">NUTRITION</a></li>
                            <li class="menu__item"><a href="#">FOOD WITH INTEGRITY</a></li>
                            <li class="menu__item"><a href="#">WHAT'S HAPPENING</a></li>
                            <li class="menu__item"><a href="#">CATERING</a></li>
                            <li class="menu__item"><a href="#">DELIVERY</a></li>
                            <li class="menu__item"><a href="#">TALK TO US</a></li>
                        </ul>

                    </nav>
                </div>

            </div>
        </div>
    </header>

    <main id="main">
        <div class="slides">
            <picture class="s1"></picture>
        </div>
    </main>
</div>
